@import "~react-image-gallery/styles/scss/image-gallery.scss";

.groups {
    text-align: center;

    .item.inactive {
        background: #999 !important;
        color: #555 !important;
    }
}

.eaqtFi {
    background: #525252b8;
}